.stile-testo1 {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.stile-testo2 {
    font-style: italic;
    text-transform: uppercase;
    color: green;
}

.stile-testo3 {
    color: grey;
}