:root {
    --main : #00b98e;
    --main-dark : #02ab83;
    --main-light : #26c49f;
    --white : #EFFDF5;
    --dark : #0e2e50;
    --neutral : #666565;
}

.navbar-nav .nav-link.active {
    font-weight: 800;
    color: #00b98e;
}

.header-annunci {
    height: 50vh;
    background-color: var(--main-light);    
}

.header-home {
    height: 50vh;
    background-color: var(--white);    
}

.annuncio-type-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 10px;
}

.card-title.price {
    color: var(--main);
}


.annuncio-extra-info-container {
    border-top: 1px dashed var(--main);
}

.aeic-category {
    border-right: 1px dashed var(--main);
}

.bg-custom {
    background-color: var(--main);
}