 body {
    font-family: 'Roboto', sans-serif;
 }
 .h1 {
  font-family: 'Montserrat', sans-serif;
  color: gray;
 }
  .container-right {
  width: 25%;
  float: right;
  margin-right: 10%;
  text-align: center;
}
  article {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
    
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  .inline {
  display: inline;
}
  a {
  text-decoration: none;
}
  .textright {
  text-align: right;
}
  .textcenter {
  text-align: center;
} 
  .container-left {
  width: 40%;
  float: left;
  margin-left: 10%;
}
  .float-right {
  float: right;
}
  .float-left {
    float:left
}
  .facebook {
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.6435-9/82336786_1145763778927174_4061310754291187712_n.png?stp=dst-png_s526x296&_nc_cat=105&ccb=1-7&_nc_sid=dd9801&_nc_ohc=WSorKhGvz0kAX-KTSHn&_nc_ht=scontent.xx&edm=ADwmN6EEAAAA&oh=00_AfBZHZ1_nXtMG-WaSYkQei1rDDKCaiBJctp-JGLWKllrsQ&oe=64004F1D);
    text-align: left;
    width: 475px;
    height: 60px;
    padding: 10px;
}

.aulab {
text-decoration-color: black;
}

div.relative {
    position: relative;
    nav-up: 2px;
}




  
  