#calcolatrice ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#calcolatrice ul li {
    display: inline-block;
    margin: 0 10px;
}
#calcolatrice ul li span {
    display: block;
    padding: 5px 0;
    border: solid 1px gray;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    text-align: center;
}