:root {
    --main : #00b98e;
    --main-dark : #02ab83;
    --main-light : #26c49f;
    --white : #EFFDF5;
    --dark : #0e2e50;
    --neutral : #666565;
}

body{
    background-color: #EFFDF5;
}

nav{
    box-shadow: 2px 2px 6px #666565;
}

.font_verde{
    color: #00b98e;
}

.bg_verde{
    background-color:#26c49f;
    color: #EFFDF5;
}

.bg_blue{
    background-color: #0e2e50;
    width: 15%;
}